.burstDiv {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 250px;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  border: 2px solid black;
}

.burstColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.burstButton {
  width: 90px;
  height: 90px;
  background-color: black;
  color: white;
  margin: 5px;
}