name: gbscout
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - scouting-shared
    env_file:
      - ../../../.public.env
      - ../../../.secret.env
    ports:
      - "${BACKEND_PORT}:4590" # Maps host:${BACKEND_PORT} to container:4590

networks:
  scouting-shared:
    name: scouting-network
    driver: bridge
