name: gbscout
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - scouting-shared
    env_file:
      - ../../../.public.env
      - ../../../.secret.env
    ports:
      - "${BACKEND_PORT}:4590" # Maps host:${BACKEND_PORT} to container:4590
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017


  mongodb:
    image: mongo:latest
    restart: unless-stopped
    networks:
      - scouting-shared
    volumes:
      - scouting-data:/data/db
    ports:
      - "27017:27017"

networks:
  scouting-shared:
    name: scouting-network
    driver: bridge

volumes:
  scouting-data:
